@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/gill-sans-2');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
	--primary: #dc3545;
  --primary-light: #fb5c6c;
	--white: whitesmoke;
	--secondary: #21bf73;
	--dark_secondary: #007f4f;
}

a:hover {
  color: initial;
}

.x-large-font {
  font-size: x-large !important;
}

.xx-large-font {
  font-size: xx-large !important;
}

.xxx-large-font {
  font-size: xxx-large !important;
}

.d-name, .d-name span {
	font-family: "Roboto Slab", sans-serif !important;
}

.bg-green {
	background-color: var(--dark_secondary) !important;
}

.border-green {
	border: var(--dark_secondary) 2px solid !important;
}

.text-green {
	color: var(--dark_secondary);
}

.c-red {
	color: var(--primary);
}

.text-blue {
  color: cornflowerblue !important;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease; /* Smooth transition */
}

.btn-green {
  background-color: var(--dark_secondary) !important;
}

hr {
  margin: 2px 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

.form-control:focus,
.form-check-input:focus,
.btn:focus,
.dt-buttons .btn:focus,
.paginate_button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.dt-buttons .btn {
  color: var(--white);
}

.btn-outline-primary:hover {
  color: var(--white) !important;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  letter-spacing: 1px;
  transition: linear .1s !important;
}

.btn-outline-primary:focus {
  box-shadow: none !important;
}

/* dropdown-toggle::after */
.dropdown-toggle::after {
  display: none;
}
/* .notification.dropdown-toggle::after {
  display: none;
}

.acc.dropdown-toggle::after {
  color: var(--white);
} */

* {
  font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none !important;
	transition: none !important;
}

html {
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

body {
	background-color: whitesmoke;
}

/* Notification DROPDOWN */
.notification.dropdown-menu {
  max-height: 375px !important;
  overflow-y: scroll;
}

.notification.dropdown-menu li:hover i {
  color: var(--dark_secondary) !important;
}

.notification.dropdown-menu li:hover {
  color: inherit !important;
  cursor: pointer;
}

.notification.dropdown-menu {
  max-height: 375px !important;
  overflow-y: auto;
}

.notification.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.notification.dropdown-menu::-webkit-scrollbar-track {
  background: var(--white);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.notification.dropdown-menu::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 50px; 
  border: 2px solid var(--white);
}

.notification.dropdown-menu li:hover i {
  color: var(--dark_secondary) !important;
}

.notification.dropdown-menu li:active i.bx,
.notification.dropdown-menu li:active div.fw-bold,
.notification.dropdown-menu li:active small.text-muted {
  color: white !important;
}

.notification.dropdown-menu li:hover {
  color: inherit !important;
  cursor: pointer;
}

.notification.dropdown-menu .header {
  pointer-events: none;
}

.notification.dropdown-menu .header i.bx {
  pointer-events: auto;
}

.notification.dropdown-menu .header i.bx:hover {
  color: var(--dark_secondary) !important;
  cursor: pointer;
}

/* fix problem mark all as read dropdown */
/* .dropdown-item.mark-all {
  position: relative;
  z-index: 1;
}

.dropdown-item.mark-all:hover {
  background-color: #c11717;
  cursor: pointer;
}

.dropdown .dropdown-menu {
  position: absolute;
  z-index: 2;
} */

/* SIDEPANEL */
div.sidepanel {
	margin-top: 70px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 99;
}

.sidepanel.show {
  transform: translateX(0);
}

body.sidepanel-open {
  overflow: hidden;
}

.sidepanel a:not(.active):hover {
  color: var(--primary) !important;
  transition: .25s ease-in-out;
}

/* CHARTS */
#dashboard .chart {
  min-height: 300px;
  width:100%;
  max-width:800px
}

#analytics .chart {
  min-height: 300px;
  width:100%;
  max-width:700px
}

/* LOGIN PAGE */
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 100%;
  max-width: 400px;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.page-container {
	margin: 20px;
	margin-top: 0;
	padding-top: 84px;
	padding-left: 220px; /* Replaced margin-left with padding-left */
}


/* DASHBOARD PAGE */
#dashboard .bx {
	font-size: 75px;
	opacity: 0.5;
}

/* USERS PAGE */
#users .bx {
	color: rgb(69, 69, 69);
	font-size: 75px;
}

#users .list-group-item {
	border-bottom: solid 2.5px var(--secondary) !important;
	border-top: solid 2.5px var(--secondary) !important;
}

/* CAMPUS PAGE */
#campus .fs-5 {
	font-size: 17.5px !important;
}

.campus-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.hoverable-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hoverable-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ADD/ EDIT CAMPUS */
.campus-pic {
  color: transparent;
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.campus-pic .label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 75%;
  height: 250px;
  z-index: 1000;
  border-radius: 5px;
}

.campus-pic .label:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 1;
  transition: background-color .2s ease-in-out;
  border-radius: 5px;
  margin-bottom: 0;
}

.campus-pic .label span{
  display: inline-flex;
  padding: .2em;
  height: 2em;
  font-size: 1em;
}

.campus-pic input {
  display: none;
}

.campus-pic img {
  position: absolute;
  object-fit: cover;
  height: 250px;
  border: 3px solid var(--main-color);
  z-index: 0;
}

@media screen and (max-width: 450px) {
  #users .bx {
    font-size: 35px;
  }

  .page-container {
    margin: 0 5px;
  }
}

@media screen and (max-width: 991px) {
  .page-container  {
    padding-left: 0px;
  }
}